In [159]:
import pandas as pd
from sklearn.metrics import log_loss
import numpy as np

data_dir1 = '../input/NCAA/'
data_dir2 = '../working/'

actual_pred = pd.read_csv(data_dir1+'NCAATourneyDetailedResults.csv')#actual results file

actual_pred.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [160]:
actual_pred = actual_pred[['Season','WTeamID','LTeamID']]
actual_pred = actual_pred.loc[actual_pred['Season']>=2014,:]
actual_pred.head()

     Season  WTeamID  LTeamID
713    2014     1107     1291
714    2014     1301     1462
715    2014     1142     1411
716    2014     1397     1234
717    2014     1163     1386

In [161]:
pred_pred = pd.read_csv(data_dir2+'NCAA_short4.csv')#predicted results file
pred_pred.head()

               ID      Pred
0  2014_1107_1110  0.484363
1  2014_1107_1112  0.056845
2  2014_1107_1113  0.246055
3  2014_1107_1124  0.182495
4  2014_1107_1140  0.216934

In [162]:
def get_year(ID):
    return int(ID.split('_')[0])

def get_t1(ID):
    return int(ID.split('_')[1])

def get_t2(ID):
    return int(ID.split('_')[2])

pred_pred['Season'] = pred_pred['ID'].apply(get_year)
pred_pred['WTeamID'] = pred_pred['ID'].apply(get_t1)
pred_pred['LTeamID'] = pred_pred['ID'].apply(get_t2)
pred_pred.drop(['ID'],axis=1,inplace=True)
pred_pred.head()

       Pred  Season  WTeamID  LTeamID
0  0.484363    2014     1107     1110
1  0.056845    2014     1107     1112
2  0.246055    2014     1107     1113
3  0.182495    2014     1107     1124
4  0.216934    2014     1107     1140

In [163]:
actual_pred = pd.merge(left=actual_pred,right=pred_pred,how='left',on=['Season','WTeamID','LTeamID'])
actual_pred.rename(columns={'Pred':'Pred1'},inplace=True)
actual_pred['Pred1'].fillna(0,inplace=True)

actual_pred = pd.merge(left=actual_pred,right=pred_pred,how='left',left_on=['Season','WTeamID','LTeamID'],right_on=['Season','LTeamID','WTeamID'])
actual_pred.rename(columns={'Pred':'Pred2'},inplace=True)
actual_pred['Pred2'].fillna(0,inplace=True)
actual_pred['Pred3'] = 1 - actual_pred['Pred2']
actual_pred['Pred3'] = actual_pred['Pred3'].apply(lambda x: x if x<1 else 0)
actual_pred.head()

,Season,WTeamID_x,LTeamID_x,Pred1,Pred2,WTeamID_y,LTeamID_y,Pred3
0,2014,1107,1291,0.615992,0.000000,NaN,NaN,0.000000
1,2014,1301,1462,0.496959,0.000000,NaN,NaN,0.000000
2,2014,1142,1411,0.542837,0.000000,NaN,NaN,0.000000
3,2014,1397,1234,0.000000,0.434109,1234.0,1397.0,0.565891
4,2014,1163,1386,0.717019,0.000000,NaN,NaN,0.000000

In [164]:
actual_pred['Pred4'] = actual_pred['Pred1'] + actual_pred['Pred3']
actual_pred.drop(['WTeamID_y','LTeamID_y','Pred1','Pred2','Pred3'],inplace=True,axis=1)
actual_pred.rename(columns={'WTeamID_x':'WTeamID','LTeamID_x':'LTeamID'},inplace=True)
actual_pred['Result'] = 1
actual_pred.head()

   Season  WTeamID  LTeamID     Pred4  Result
0    2014     1107     1291  0.615992       1
1    2014     1301     1462  0.496959       1
2    2014     1142     1411  0.542837       1
3    2014     1397     1234  0.565891       1
4    2014     1163     1386  0.717019       1

In [165]:
log_loss(np.array(actual_pred['Result'].values),np.array(actual_pred['Pred4'].values),labels=[1,0])

0.529305726398554